{% extends 'base.html' %}

{% block header %}
<h1 class="p-2 text-2xl text-semibold text-white font-mono">{% block title %}search{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="sresults" class="bg-gray p-4 border-t border-gray-200">
    <p class="text-white font-light pb-4">Found {{ results | length}} results for your search for: <span class="font-semibold">{{searchterm}}</span> </p>
<ul class="pl-6">
{% for module in results %}
<li class="text-white font-mono">📌<a href="/module/{{ module[0].module.name }}">{{ module[0].module.name }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
